html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  position: absolute;

}

#p5-container {
  z-index: -1;
  position: absolute;
  transform: translate(50%, 50%);



}

.title-text {
  position: absolute;
  color: rgb(0, 0, 0);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}