html,
body {
  margin: 0;
  padding: 0;
  background-color: #525b74;
  justify-content: center;
  align-items: center;
}

#p5-container canvas {
  margin: 0;
  padding: 0;
  /* margin-bottom: 10px; */

}


#p5-container2 {
  position: absolute;
  left: calc(50% - 500px);
  top: calc(40% - 350px);
}

#p5-container2 canvas {
  margin: 0;
  padding: 0;
}

#p5-container3 {
  position: absolute;
  left: calc(50% - 500px);
  top: calc(40% - 350px);
}

#p5-container3 canvas {
  margin: 0;
  padding: 0;
}

#p5-container {
  position: absolute;
  left: calc(50% - 500px);
  top: calc(40% - 350px);
}




h1 {
  padding-top: 30px;
  padding-bottom: 18px;
  padding-left: 20px;
  font-size: 40px;
  position: relative;
  text-align: center;
  color: #0d151e
}

.image-container {
  position: relative;

}

.image {
  width: 32%;
  height: auto;
  margin-right: 8px;
  margin-bottom: 20px
}

.link-container {
  position: relative;

  margin-right: -40px
}

.link {

  width: 30%;
  /* Optional: remove default margin */
  padding: 10px;
  /* Adjust padding as needed */
  text-decoration: none;
  color: black;
  /* Adjust the color as needed */
  border: 1px solid black;
  /* Optional: add a border */
  border-radius: 10px;
  /* Optional: add border-radius for rounded corners */
  margin-right: 13%;
  margin-left: 13%;
  /* Adjust spacing between links as needed */
  text-align: center;
  font-size: 18px
}

#back {
  color: rgb(0, 0, 0);
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
  font-size: 30px;
  position: absolute;
  /* margin-top: 720px; */
  bottom: 10px;

}

#back:hover {
  color: #e5e6e7;
  /*text-decoration: underline;*/
  background-color: #313a4f;
}